{% load navigation_tags %}

<body>
<div id="page" class="clearfix">
    <div id="site-header-wrap">
        <!-- top nav -->
        <div id="top-nav">
            <div id="top-nav-inner" class="container-fluid">
                <div id="top-nav-inner-wrap">
                    <!-- top nav icon row -->
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-end p-0 px-md-4 mb-0 bg-light shadow-sm info-header">
                        <!-- top nav icon 1 -->
                        <div class="my-md-0 mr-md-3">
                            <h6>Something here</h6>
                        </div>
                        <!-- top nav icon 2 -->
                        <div class="my-md-0 mr-md-3">
                            <h6>Something here</h6>
                        </div>
                        <!-- top nav icon 3 -->
                        <div class="my-md-0 mr-md-3 top-nav-mobile-hide">
                            <h6>Something here</h6>
                        </div>
                        <!-- top nav icon 4 -->
                        <div class="my-md-0 mr-md-3">
                            <h6>Something here</h6>
                        </div>
                        <!-- top nav icon 5 -->
                        <div class="my-md-0 mr-md-3">
                            <h6>Something here</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- # top nav -->
        <!-- site header -->
        <header id="site-header">
            <!-- site header inner -->
            <div id="site-header-inner" class="container-fluid">
                <!-- site header wrap inner -->
                <div class="site-header-wrap-inner">
                    <!-- site logo -->
                    <div id="site-logo" class="clearfix">
                        <div id="site-logo-inner">

                        </div>
                    </div>
                    <!-- /# site logo -->
                </div>
                <!-- mobile button -->
                <div class="mobile-button">
                    <span></span>
                </div>
                <!-- /# mobile menu button -->
                <!-- block main navigation -->
                {% block main_navigation %}
                    <nav id="main-nav" class="nav nav-tabs navbar-expand-lg navbar-light nav-fill mb-0 text-center" data-toggle="affix">
                        <button class="navbar-toggler m-1" type="button" data-toggle="collapse" data-target="#main-top-nav" aria-controls="main-top-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- main top nav first item -->
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <a class="nav-link mx-auto" href="/">1 <span class="sr-only">(current)</span></a>
                        </div>
                        <!-- /# main top nav first item -->
                        <!-- main top nav second item with dropdown menu -->
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <!-- main top nav dropdown ul -->
                            <ul id="main-top-nav" class="nav navbar-nav collapse navbar-collapse nav-tabs">
                                <!-- main top nav dropdown navitem -->
                                <li class="nav-item dropdown position-static">
                                    <!-- main top nav second item -->
                                    <a class="nav-link dropdown-toggle mx-auto" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        2
                                    </a>
                                    <!-- /# main top nav second item -->
                                    <!-- main top nav second item dropdown div -->
                                    <div class="dropdown-menu w-100 container" aria-labelledby="navbarDropdown">
                                        <!-- dropdown div container and row -->
                                        <div class="container">
                                            <div class="row">
                                                <!-- dropdown first col -->
                                                <div class="col-sm-3">
                                                    <div class="card">
                                                        <div class="card-header text-center">
                                                            <small class="h2">1</small>
                                                        </div>
                                                        <img class="img-fluid rounded" data-src="holder.js/100px250"  alt="100%x250" width="140" height="140">
                                                        <div class="card-body text-center mb-0 pb-0">
                                                            <p><a class="btn" href="#" role="button">1</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /# dropdown first col -->
                                                <!-- dropdown second col -->
                                                <div class="col-sm-3">
                                                    <div class="card">
                                                        <div class="card-header text-center">
                                                            <small class="h2">2</small>
                                                        </div>
                                                        <img class="img-fluid rounded" data-src="holder.js/100px250"  alt="100%x250" width="140" height="140">
                                                        <div class="card-body text-center mb-0 pb-0">
                                                            <p><a class="btn" href="#" role="button">1</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /# dropdown second col -->
                                                <!-- dropdown third col -->
                                                <div class="col-sm-3">
                                                    <div class="card">
                                                        <div class="card-header text-center">
                                                            <small class="h2">3</small>
                                                        </div>
                                                        <img class="img-fluid rounded" data-src="holder.js/100px250"  alt="100%x250" width="140" height="140">
                                                        <div class="card-body text-center mb-0 pb-0">
                                                            <p><a class="btn" href="/prices/" role="button">1</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /# dropdown third col -->
                                                <!-- dropdown fourth col -->
                                                <div class="col-sm-3">
                                                    <div class="card">
                                                        <div class="card-header text-center">
                                                            <small class="h2">4</small>
                                                        </div>
                                                        <img class="img-fluid rounded" data-src="holder.js/100px250"  alt="100%x250" width="140" height="140">
                                                        <div class="card-body text-center mb-0 pb-0">
                                                            <p><a class="btn" href="#" role="button">1</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /# dropdown fourth col -->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- main top nav third item -->
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <a class="nav-link mx-auto" href="#">3</a>
                        </div>
                        <!-- /# main top nav third item -->
                        <!-- main top nav fourth item -->
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <a class="nav-link mx-auto" href="#">4</a>
                        </div>
                        <!-- /# main top nav fourth item -->
                        <!-- main top nav fifth item -->
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <a class="nav-link mx-auto" href="#">5</a>
                        </div>
                        <!-- /# main top nav fifth item -->
                        <!-- main top nav sixth item -->
                        <div class="collapse navbar-collapse" id="main-top-nav">
                             <a class="nav-link mx-auto" href="#">6</a>
                        </div>
                        <!-- /# main top nav sixth item -->
                        <!-- main top nav seventh item -->
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <a class="nav-link mx-auto" href="#">7</a>
                        </div>
                        <!-- /# main top nav seventh itemm -->
                    </nav>
                {% endblock %}
            </div>
        </header>
    </div>
</div>
</body>

<script>
    $(document).ready(function() {

        var toggleAffix = function(affixElement, scrollElement, wrapper) {

            var height = affixElement.outerHeight(),
                top = wrapper.offset().top;

            if (scrollElement.scrollTop() >= top){
                wrapper.height(height);
                affixElement.addClass("affix");
            }
            else {
                affixElement.removeClass("affix");
                wrapper.height('auto');
            }

        };


        $('[data-toggle="affix"]').each(function() {
            var ele = $(this),
                wrapper = $('<div></div>');

            ele.before(wrapper);
            $(window).on('scroll resize', function() {
                toggleAffix(ele, $(this), wrapper);
            });

            // init
            toggleAffix(ele, $(window), wrapper);
        });
    });
</script>

</html>