{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}
            {% block title_prefix %}
                Chris Alex
            {% endblock %}
            {% if self.seo_title %}
                {{ self.seo_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Chris Alex Bauer">
    <!-- <meta name="google-site-verification" find new google site verif for mine -->
    <meta property="og:title" content="Chris Alex Bauer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.chrisalexbauer.com/" />
    <meta property="og:image" content="https://www.chrisalexbauer.com/static/media/images/this.jpg" />

    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" --> <!-- href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384- --><!--BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,700|Lato:300,400,700,900" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mine.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#f0f0d0",
          "text": "#333333"
        },
        "button": {
          "background": "#b0b080",
          "text": "#333"
        }
      },
      "content": {
        "message": "This website uses cookies. By using this website you accept the use of cookies.",
        "href": "#"
      }
    })});
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% block head-extra %}
    {% endblock head-extra %}
    {% include 'meta/meta.html' %}
</head>