{% load navigation_tags %}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Centrum Serca Lumina Cordis prowadzi diagnostykę i leczenie ambulatoryjne chorób sercowo-naczyniowych, wykorzystując w tym celu aktualne względem wytycznych światowych metody laboratoryjno-obrazowe. Wyróżnia nas holistyczne i zindywidualizowane podejście do każdego pacjenta, uwzględniające jego potrzeby i oczekiwania.">
    <meta name="author" content="Ewa Sokola Wysoczanska Sokoła-Wysoczańska">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Centrum Serca LC Klinia Serca Wroclaw</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap-4.1.3/site/docs/4.1/examples/navbars/navbar.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div id="page" class="clearfix">
    <div id="site-header-wrap">
        <!-- top nav -->
        <div id="top-nav">
            <div id="top-nav-inner" class="container-fluid">
                <div id="top-nav-inner-wrap">
                    <!-- top nav icon row -->
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-end p-0 px-md-4 mb-0 bg-light shadow-sm info-header">
                        <!-- opening time with href to /about/ -->
                        <div class="my-md-0 mr-md-3">
                            <h6><a class="p-2 text-dark" href="/about/"><i class="pr-1 fa fa-clock-o" aria-hidden="true"></i>pon - pt 8:00 - 20:00</a></h6>
                        </div>
                        <!-- parking with href to /parking/ -->
                        <div class="my-md-0 mr-md-3">
                            <h6><a class="p-2 text-dark" href="/parking/"><i class="fas fa-map-marked-alt" aria-hidden="true"></i> jak dojechać</a></h6>
                        </div>
                        <!-- email icon that opens email -->
                        <div class="my-md-0 mr-md-3 top-nav-mobile-hide">
                            <h6><a class="p-2 text-dark" href="mailto:recepcja@centrumsercalc.pl"><i class="fa fa-envelope" aria-hidden="true"></i><a class="pr-4" href="mailto:recepcja@centrumsercalc.pl">recepcja@centrumsercalc.pl</a></a></h6>
                        </div>
                        <!-- phone nr button for first nr -->
                        <div class="my-md-0 mr-md-3">
                            <h5 class="mb-0"><a class="p-2 px-3 btn btn-outline-primary" href="tel:+48717127898"><i class="pr-1 fa fa-phone" aria-hidden="true"></i>+48 71 712 78 98</h5></a>
                        </div>
                        <!-- phone nr button for second nr -->
                        <div class="my-md-0 mr-md-3">
                            <h5 class="mb-0"><a class="p-2 px-3 btn btn-outline-primary" href="tel:+48717127899"><i class="pr-1 fa fa-phone" aria-hidden="true"></i>+48 71 712 78 99</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- # top nav -->
        <!-- site header -->
        <header id="site-header">
            <div id="site-header-inner" class="container-fluid">
                <div class="site-header-wrap-inner">
                    <div id="site-logo" class="clearfix">
                        <div id="site-logo-inner">

                        </div>
                    </div>
                    <!-- /# site logo -->
                </div>
                <div class="mobile-button">
                    <span></span>
                </div>
                {% block main_navigation %}
                <!-- /# mobile menu button -->
                    <nav id="main-nav" class="nav nav-tabs navbar-expand-lg navbar-light nav-fill mb-0 text-center" data-toggle="affix">
                        <button class="navbar-toggler m-1" type="button" data-toggle="collapse" data-target="#main-top-nav" aria-controls="main-top-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <a class="nav-link text-white mx-auto" style="font-size: 1.75rem;" href="/">Strona Główna <span class="sr-only">(current)</span></a>
                        </div>
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <ul id="main-top-nav" class="nav navbar-nav collapse navbar-collapse nav-tabs">
                                <li class="nav-item dropdown position-static">
                                    <a class="nav-link dropdown-toggle text-white mx-auto" style="font-size: 1.75rem;" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Usługi
                                    </a>
                                    <div class="dropdown-menu w-100 container" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="card">
                                                        <div class="card-header peoplepage-card-color text-center">
                                                            <small class="h2" style="font-size: 1.75rem;">Badania</small>
                                                        </div>
                                                        <img class="img-fluid card-img-top" alt="100%x250" style="height: 10rem; width: 100%; display: block;" src="https://images.pexels.com/photos/905874/pexels-photo-905874.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                                                        <div class="card-body text-center mb-0 pb-0 bg-success">
                                                            <p><a class="btn homepage-button" href="/services/badania/" role="button">Zobacz wszystkie &raquo;</a></p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="card">
                                                        <div class="card-header peoplepage-card-color text-center">
                                                            <small class="h2" style="font-size: 1.75rem;">Konsultacje</small>
                                                        </div>
                                                        <img class="img-fluid card-img-top" alt="100%x250" style="height: 10rem; width: 100%; display: block;" src="https://images.pexels.com/photos/1282308/pexels-photo-1282308.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                                                        <div class="card-body text-center mb-0 pb-0 bg-success">
                                                            <p><a class="btn homepage-button" href="/services/konsultacje/" role="button">Zobacz wszystkie &raquo;</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="card">
                                                        <div class="card-header peoplepage-card-color text-center">
                                                            <small class="h2" style="font-size: 1.75rem;">B. Laboratoryjne</small>
                                                        </div>
                                                        <img class="img-fluid card-img-top" alt="100%x250" style="height: 10rem; width: 100%; display: block;" src="https://images.pexels.com/photos/4154/clinic-doctor-health-hospital.jpg?cs=srgb&dl=biology-clinic-doctor-4154.jpg&fm=jpg">
                                                        <div class="card-body text-center mb-0 pb-0 bg-success">
                                                            <p><a class="btn homepage-button" href="/prices/" role="button">Zobacz wszystkie &raquo;</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="card">
                                                        <div class="card-header peoplepage-card-color text-center">
                                                            <small class="h2" style="font-size: 1.75rem;">Oferty specjalne</small>
                                                        </div>
                                                        <img class="img-fluid card-img-top" alt="100%x250" style="height: 10rem; width: 100%; display: block;" src="https://images.pexels.com/photos/935869/pexels-photo-935869.jpeg?cs=srgb&dl=aerial-aerial-view-application-935869.jpg&fm=jpg">
                                                        <div class="card-body text-center mb-0 pb-0 bg-success">
                                                            <p><a class="btn homepage-button" href="/prices/" role="button">Zobacz wszystkie &raquo;</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <a class="nav-link text-white mx-auto" style="font-size: 1.75rem;" href="/about/">O nas </a>
                        </div>
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <a class="nav-link text-white mx-auto" style="font-size: 1.75rem;" href="/prices/">Cennik </a>
                        </div>
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <a class="nav-link text-white mx-auto" style="font-size: 1.75rem;" href="/people/">Kadra </a>
                        </div>
                        <div class="collapse navbar-collapse" id="main-top-nav">
                             <a class="nav-link text-white mx-auto" style="font-size: 1.75rem;" href="/parking/">Jak dojechać</a>
                        </div>
                        <div class="collapse navbar-collapse" id="main-top-nav">
                            <a class="nav-link text-white mx-auto" style="font-size: 1.75rem;" href="/contact/">Kontakt</a>
                        </div>
                    </nav>
                {% endblock %}
            </div>
        </header>
    </div>
</div>
</body>

<script>
    $(document).ready(function() {

        var toggleAffix = function(affixElement, scrollElement, wrapper) {

            var height = affixElement.outerHeight(),
                top = wrapper.offset().top;

            if (scrollElement.scrollTop() >= top){
                wrapper.height(height);
                affixElement.addClass("affix");
            }
            else {
                affixElement.removeClass("affix");
                wrapper.height('auto');
            }

        };


        $('[data-toggle="affix"]').each(function() {
            var ele = $(this),
                wrapper = $('<div></div>');

            ele.before(wrapper);
            $(window).on('scroll resize', function() {
                toggleAffix(ele, $(this), wrapper);
            });

            // init
            toggleAffix(ele, $(window), wrapper);
        });
    });
</script>

</html>