{% load navigation_tags %}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Centrum Serca Lumina Cordis prowadzi diagnostykę i leczenie ambulatoryjne chorób sercowo-naczyniowych, wykorzystując w tym celu aktualne względem wytycznych światowych metody laboratoryjno-obrazowe. Wyróżnia nas holistyczne i zindywidualizowane podejście do każdego pacjenta, uwzględniające jego potrzeby i oczekiwania.">
    <meta name="author" content="Ewa Sokola Wysoczanska Sokoła-Wysoczańska">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Centrum Serca LC Klinia Serca Wroclaw</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap-4.1.3/site/docs/4.1/examples/navbars/navbar.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<div id="page" class="clearfix">
    <div id="site-header-wrap">
        <!-- top nav -->
        <div id="top-nav">
            <div id="top-nav-inner" class="container-fluid">
                <div id="top-nav-inner-wrap">
                    <!-- top nav icon row -->
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-end p-0 px-md-4 mb-0 bg-light shadow-sm info-header">
                        <!-- opening time with href to /about/ -->
                        <div class="my-md-0 mr-md-3">
                            <h6><a class="p-2 text-dark" href="/about/"><i class="pr-1 fa fa-clock-o" aria-hidden="true"></i>pon - pt 8:00 - 20:00</a></h6>
                        </div>
                        <!-- parking with href to /parking/ -->
                        <div class="my-md-0 mr-md-3">
                            <h6><a class="p-2 text-dark" href="/parking/"><i class="fas fa-map-marked-alt" aria-hidden="true"></i> jak dojechać</a></h6>
                        </div>
                        <!-- email icon that opens email -->
                        <div class="my-md-0 mr-md-3 top-nav-mobile-hide">
                            <h6><a class="p-2 text-dark" href="mailto:recepcja@centrumsercalc.pl"><i class="fa fa-envelope" aria-hidden="true"></i><a class="pr-4" href="mailto:recepcja@centrumsercalc.pl">recepcja@centrumsercalc.pl</a></a></h6>
                        </div>
                        <!-- phone nr button for first nr -->
                        <div class="my-md-0 mr-md-3">
                            <h5 class="mb-0"><a class="p-2 px-3 btn btn-outline-primary" href="tel:+48717127898"><i class="pr-1 fa fa-phone" aria-hidden="true"></i>+48 71 712 78 98</h5></a>
                        </div>
                        <!-- phone nr button for second nr -->
                        <div class="my-md-0 mr-md-3">
                            <h5 class="mb-0"><a class="p-2 px-3 btn btn-outline-primary" href="tel:+48717127899"><i class="pr-1 fa fa-phone" aria-hidden="true"></i>+48 71 712 78 99</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- # top nav -->
        <!-- site header -->
        <header id="site-header">
            <div id="site-header-inner" class="container-fluid">
                <div class="site-header-wrap-inner">
                    <div id="site-logo" class="clearfix">
                        <div id="site-logo-inner">

                        </div>
                    </div>
                    <!-- /# site logo -->
                </div>
                <div class="mobile-button">
                    <span></span>
                </div>
                {% block main_navigation %}
                <!-- /# mobile menu button -->
                <nav id="main-nav" class="nav nav-tabs navbar-expand-lg navbar-light nav-fill mb-0" data-toggle="affix">
                    <button class="navbar-toggler m-1" type="button" data-toggle="collapse" data-target="#main-top-nav" aria-controls="main-top-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- /# mobile menu button -->
                    <!-- main top nav defines nav color -->
                    <div class="collapse navbar-collapse" id="main-top-nav">
                        <ul id="main-top-nav" class="nav navbar-nav collapse navbar-collapse nav-tabs">
                            <!-- strona glowna menu item -->
                            <li class="nav-item active">
                                <a class="nav-link text-white" style="font-size: 2rem;" href="/">Strona Główna <span class="sr-only">(current)</span></a>
                            </li>
                            <!-- /# Strona glowna menu item -->
                            <!-- o nas menu item -->
                            <li class="nav-item">
                                <a class="nav-link text-white" style="font-size: 1.75rem;" href="/about/">O nas </a>
                            </li>
                            <!-- /# o nas menu item -->
                            <!-- uslugi menu item -->
                            <li class="nav-item">
                                <div class="downdown dropdown-headerdiv">
                                    <a class="nav-link dropdown-toggle text-white" style="font-size: 1.75rem;" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Usługi
                                    </a>
                                    <ul class="dropdown-menu main-top-nav-dropdown" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item" href="/services/badania/">
                                                <span><h6>Badania - zobacz wszystkie</h6></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/konsultacje/">
                                                <span><h6>Konsultacje - zobacz wszystkie</h6></span>
                                            </a>
                                        </li><div class="dropdown-divider"></div>
                                        <li>
                                            <a class="dropdown-item" href="/services/pilna-konsultacja-kardiologiczna/">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <span class="rwd-line">Pilna konsultacja kardiologiczna&nbsp;</span>
                                                        <span class="rwd-line">(2x pomiar troponin, konsultacja,&nbsp;</span>
                                                        <span class="rwd-line">EKG, ECHO, leki)</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/echo-serca-dorosli/">
                                                <span>ECHO serca dorośli</span>
                                            </a>
                                        </li>
                                        <li>
                                            <div>
                                                <a class="dropdown-item" href="/services/echo-serca-dzieci/">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <span class="rwd-line">ECHO serca dzieci&nbsp;</span>
                                                            <span class="rwd-line">z konsultacją kardiologa dziecięcego</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/echo-serca-przezklatkowe/">
                                                <span>ECHO serca przezklatkowe</span>
                                            </a>
                                        </li>
                                        <li>
                                            <div>
                                                <a class="dropdown-item" href="/services/echo-serca-przezprzelykowe/">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <span class="rwd-line">ECHO serca przezprzełykowe&nbsp;</span>
                                                            <span class="rwd-line">(możliwe badanie&nbsp;</span>
                                                            <span class="rwd-line">z asystą annestezjologa)</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/proba-dobutaminowa/">
                                                <span>Próba dobutaminowa (ECHO stres)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/echo-serca-plodu/">
                                                <span>ECHO serca płodu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <div>
                                                <a class="dropdown-item" href="/services/kardiowersja-elektryczna/">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <span class="rwd-line">Kardiowersja elektryczna&nbsp;</span>
                                                            <span class="rwd-line">(kardiolog, anestezjolog)</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/holter-rr/">
                                                <span>Holter RR</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/holter-ekg/">
                                                <span>Holter EKG</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/proba-wysilkowa/">
                                                <span>Próba wysiłkowa</span>
                                                <span>(EKG wysiłkowe)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/ergospirometria/">
                                                <span>Ergospirometria</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/polisomnografia/">
                                                <span>Polisomnografia</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/usg-przezciemniaczkowe/">
                                                <span>USG przezciemiączkowe</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/usg-brzucha-malych-dzieci/">
                                                <span>USG brzucha małych dzieci</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/eeg-biofeedback/">
                                                <span>EEG Biofeedback</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/konsultacja-kardiologiczna/">
                                                <span>Konsultacja kardiologiczna</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/konsultacja-psychologa/">
                                                <span>Konsultacja psychologa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/konsultacja-psychologa-dzieciecego/">
                                                <span>Konsultacja psychologa dziecięcego</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/konsultacja-neurologopedyczna/">
                                                <span>Konsultacja neurologopedyczna</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/konsultacja-lekarza-medycyny-sportu/">
                                                <span>Konsultacja lekarza medycyny sportu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/konsultacja-lekarsa-dietetyczna/">
                                                <span>Konsultacja lekarska dietetyczna</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- /# dropdown menu item -->
                            <li class="nav-item">
                                <a class="nav-link text-white" style="font-size: 1.75rem;" href="/prices/">Cennik </a>
                            </li>
                            <!-- /# cennik menu item -->
                            <li class="nav-item">
                                <a class="nav-link text-white" style="font-size: 1.75rem;" href="/people/">Kadra </a>
                            </li>
                            <!-- /# kadra menu item -->
                            <li class="nav-item">
                                <a class="nav-link text-white" style="font-size: 1.75rem;" href="/parking/">Jak dojechać</a>
                            </li>
                            <!-- /# jak dojechac menu item -->
                            <li class="nav-item">
                                <a class="nav-link text-white" style="font-size: 1.75rem;" href="/contact/">Kontakt</a>
                            </li>
                            <!-- /# kontakt menu item -->
                        </ul>
                        <!-- /# main top nav -->
                    </div>
                </nav>
                {% endblock main_navigation %}
            </div>
        </header>
    </div>
</div>

<script>
    $(document).ready(function() {

  var toggleAffix = function(affixElement, scrollElement, wrapper) {

    var height = affixElement.outerHeight(),
        top = wrapper.offset().top;

    if (scrollElement.scrollTop() >= top){
        wrapper.height(height);
        affixElement.addClass("affix");
    }
    else {
        affixElement.removeClass("affix");
        wrapper.height('auto');
    }

  };


  $('[data-toggle="affix"]').each(function() {
    var ele = $(this),
        wrapper = $('<div></div>');

    ele.before(wrapper);
    $(window).on('scroll resize', function() {
        toggleAffix(ele, $(this), wrapper);
    });

    // init
    toggleAffix(ele, $(window), wrapper);
  });

});
</script>

</body>
</html>




